<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>PvP Market</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
		<link rel="stylesheet" href="css/nes.min.css">
		<link rel="stylesheet" href="css/pvp.css">
	</head>

	<body>
		<style>
			[v-cloak] {
				display: none !important;
			}
		</style>
		<script type="importmap">
			{
		    "imports": {
				"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js",
				"viem": "https://esm.sh/viem",
				"viem/chains": "https://esm.sh/viem/chains"
		    }
		  }
		</script>
		
		<div style="margin: 2rem; display: flex; justify-content: space-between;" id="titlePanel">
			<h2 class="topic-title">
				<i class="nes-logo"></i>PvP Market
			</h2>
			<div v-cloak style="display: flex;">
				<div class="nes-select" style="width: 20rem; margin-right: 1rem;">
					<select required @change="onSelectChain">
						<option value="41454">Monad Devnet</option>
						<option value="1301">Unichain Sepolia</option>
					</select>
				</div>
				<button type="button" class="nes-btn is-error" @click="onConnectBtn">{{ connect }}</button>
				<button type="button" class="nes-btn is-warning" style="margin-left: 1rem;" @click="onClaimBtn">Claim</button>
			</div>
		</div>
		<br />

		<div style="margin-left: auto; margin-right: auto; width: fit-content;">
			<div v-cloak id="balancePanel">
				<i class="nes-icon coin"
					style="margin-bottom: 0.5rem; margin-left: 37rem;"></i><span>x{{ usdt }}</span>
				<i class="nes-icon heart"
					style="margin-bottom: 0.5rem; margin-left: 1rem;"></i><span>x{{ meme }}</span>
			</div>
			<br />

			<div v-cloak style="display: flex; width: fit-content;" id="orderbookPanel">
				<div class="nes-container with-title is-rounded" style="width: fit-content; margin: 1rem;">
					<p class="title">Order Book</p>
					<table>
						<thead>
							<tr>
								<th>Price({{ usdtSymbol }})</th>
								<th style="padding-left: 1rem;">Amount({{ memeSymbol }})</th>
								<th style="padding-left: 1rem;">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr class="nes-text" :class="{ 'is-error': order.color=='red', 'is-success': order.color=='green' }" v-for="order of orders">
								<td>{{ order.color ? toPrecision(order.price, 6) : maxPrecision(order.price, 6) }}</td>
								<td style="text-align: center;">{{ toPrecision(order.amount, 6) }}</td>
								<td style="text-align: right;">{{ toPrecision(order.total, 6) }}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="nes-container with-title is-rounded is-centered" style="width: 16rem; margin: 1rem;">
					<p class="title">Limit</p>
					<div class="nes-field">
						<label>Price({{ usdtSymbol }})</label>
						<input id="buyPriceInput" class="nes-input" placeholder="0.0" v-model="buyPrice" @change="onInput">
					</div>
					<br />
					<div class="nes-field">
						<label>Amount({{ memeSymbol }})</label>
						<input id="buyAmountInput" class="nes-input" placeholder="0.0" v-model="buyAmount" @change="onInput">
					</div>
					<br />
					<div class="nes-field">
						<label>Total({{ usdtSymbol }})</label>
						<input id="buyTotalInput" class="nes-input" placeholder="0.0" v-model="buyTotal" @change="onInput">
					</div>
					<br />
					<button type="button" class="nes-btn is-success" style="width: 100%;" @click="onBuyBtn">Buy {{ memeSymbol }}</button>
				</div>

				<div class="nes-container with-title is-rounded is-centered" style="width: 16rem; margin: 1rem;">
					<p class="title">Limit</p>
					<div class="nes-field">
						<label>Price({{ usdtSymbol }})</label>
						<input id="sellPriceInput" class="nes-input" placeholder="0.0" v-model="sellPrice" @change="onInput">
					</div>
					<br />
					<div class="nes-field">
						<label>Amount({{ memeSymbol }})</label>
						<input id="sellAmountInput" class="nes-input" placeholder="0.0" v-model="sellAmount" @change="onInput">
					</div>
					<br />
					<div class="nes-field">
						<label>Total({{ usdtSymbol }})</label>
						<input id="sellTotalInput" class="nes-input" placeholder="0.0" v-model="sellTotal" @change="onInput">
					</div>
					<br />
					<button type="button" class="nes-btn is-error" style="width: 100%;" @click="onSellBtn">Sell {{ memeSymbol }}</button>
				</div>
			</div>
			
			<div v-cloak id="myOrderPanel">
				<div style="margin: 1rem;">
					<a :style="{ 'pointer-events': tab=='open' ? 'none' : 'auto' }" class="nes-badge" @click="onSwitchTab('open')">
						<span :class="{ 'is-disabled': tab!='open', 'is-primary': tab=='open' }" style="width: fit-content;">&nbsp;Open Orders&nbsp;</span>
					</a>
					<a :style="{ 'pointer-events': tab=='history' ? 'none' : 'auto' }" class="nes-badge" style="margin-left: 3rem;" @click="onSwitchTab('history')">
						<span :class="{ 'is-disabled': tab!='history', 'is-primary': tab=='history' }" style="width: fit-content;">&nbsp;Order History&nbsp;</span>
					</a>
				</div>

				<div class="nes-container is-rounded" style="width: fit-content; margin: 1rem;">
					<table v-if="tab=='open'">
						<thead>
							<tr>
								<th style="padding-right: 7rem;">Date</th>
								<th style="padding-left: 4rem;padding-right: 4rem;">Pair</th>
								<th style="padding-left: 1rem;padding-right: 1rem;">Side</th>
								<th style="padding-left: 2rem;">Price</th>
								<th style="padding-left: 2rem;">Amount</th>
								<th style="padding-left: 2rem;">Filled</th>
								<th style="padding-left: 2rem;">Total</th>
								<th style="padding-left: 6rem;">Op</th>
							</tr>
						</thead>
						<tbody>
							<tr class="nes-text" v-for="order of openOrders">
								<td>{{ order.date }}</td>
								<td style="text-align: center;">{{ order.pair }}</td>
								<td style="text-align: center;">{{ order.side }}</td>
								<td style="text-align: right;">{{ order.price }}</td>
								<td style="text-align: right;">{{ order.amount }}</td>
								<td style="text-align: right;">{{ order.filled }}</td>
								<td style="text-align: right;">{{ order.total }}</td>
								<td style="text-align: right;"><a v-if="order.index > 0" @click="onCancelBtn(order)">Cancel</a>{{ order.index < 0 ? '---' : '' }}</td>
							</tr>
						</tbody>
					</table>
					
					<table v-if="tab=='history'">
						<thead>
							<tr>
								<th style="padding-right: 7rem;">Date</th>
								<th style="padding-left: 4rem;padding-right: 4rem;">Pair</th>
								<th style="padding-left: 1rem;padding-right: 1rem;">Side</th>
								<th style="padding-left: 2rem;">Price</th>
								<th style="padding-left: 2rem;">Amount</th>
								<th style="padding-left: 2rem;">Filled</th>
								<th style="padding-left: 2rem;">Total</th>
								<th style="padding-left: 2rem;">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr class="nes-text" v-for="order of historyOrders">
								<td>{{ order.date }}</td>
								<td style="text-align: center;">{{ order.pair }}</td>
								<td style="text-align: center;">{{ order.side }}</td>
								<td style="text-align: right;">{{ order.price }}</td>
								<td style="text-align: right;">{{ order.amount }}</td>
								<td style="text-align: right;">{{ order.filled }}</td>
								<td style="text-align: right;">{{ order.total }}</td>
								<td style="text-align: right;">{{ order.status }}</td>
							</tr>
						</tbody>
					</table>
					
					<p style="margin: 4rem; text-align: center;" v-if="(tab=='open'&&openOrders.length==0) || (tab=='history'&&historyOrders.length==0)">No record</p>
				</div>
			</div>
		</div>
		
		<dialog id="dialog-rounded" class="nes-dialog is-rounded">
			<form method="dialog">
				<p class="title">{{ title }}</p>
				<p>{{ content }}</p>
				<menu class="dialog-menu">
					<button class="nes-btn is-primary" @click="onConfirm">Confirm</button>
					<button class="nes-btn" style="margin-left: 2rem;" v-if="hasCancel">Cancel</button>
				</menu>
			</form>
		</dialog>

		<footer>
			<p>
				<span>&copy;2024</span>
				<a href="https://github.com/ZKSAFE" target="_blank">ZKSAFE</a>
			</p>
		</footer>
		<script type="module" src="js/main.js"></script>
	</body>
</html>